
.feedback-form {
  max-width: 408px;
  padding: 48px 24px;
  margin-left: 0;
}

label {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;

}

input,
textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 80px;
}

.form-btn {
  min-width: 95px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
  
}

.form-btn:hover,
.form-btn:focus {
  background-color: #4667dc;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.15);
}

main:has(.back-link) {
  text-align: left;;
}

.back-link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 14px;
  color: #4e75ff;
  text-decoration: none;
  
}